.header{margin-left:5px;text-align: center;}
.logo1{width: 3em; height:5em;float: left;}
h1{padding: 10px 0 0 70px; font-family:Trebuchet MS; font-weight:500; font-size:28px;}
.nav{float: right;text-decoration: none;pointer-events: inherit;}
